body, p, legend, label, input {
	font: normal 8pt verdana, helvetica, sans-seif;
}

fieldset{
	padding: 20px;
	border: 1px #0568CD solid;
}

legend{
	font-weight: bold;
	color: #0568CD ;
}

form label{
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}
form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
	
}
form input.sansLabel{
	margin-left: 200px;
}
form .requis{
	color: #c00;
}
form .erreur{
	color: red;
}

form succes{
	color: #090;
}